* {
  list-style: none;
}

.App {
  text-align: center;
  background-color: #dff2df99;
}

ul {
  margin: 0;
}

.homepage {
  text-align: center;
  background-color: #dff2df99;
  position: relative;
}

.css-fix {
  white-space: pre-wrap; /* or pre-line */
}

h1 {
  border-bottom: 1px solid #8bbeb9;
  padding-bottom: 20px;
}

.home-nav h2 {
  display: inline-block;
}

.nav-item {
  padding: 10px;
}

#music {
  border-right: solid 2px #8bbeb9;
}

.about-me {
  position: relative;
  text-align: center;
}

#matt-walk-cut {
  position: absolute;
  left: 25%;
  opacity: 0.2;
  filter: invert(75%);
  background-color: transparent !important;
}

#matt-walk-cut-2 {
  position: absolute;
  left: 30%;
  opacity: 0.2;
}

.about-me-text {
  white-space: pre-wrap;
  line-height: 1.6;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dff2df99;
  padding: 20px;
  border-left: 1px solid #8bbeb9;
  font-size: 30px;
}

/* music */

.music-categories-outer {
  width: 50%;
  height: 300px;
  /* border: 1px solid black; */
  position: inherit;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 160px;
}

.categories-container {
  border: 1px solid red;
  margin: auto;
}

.music-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.categories-list-container-left {
  text-align: right;
}

.track-list {
  text-align: center;
}

.categories-list-container-right {
  text-align: left;
}

.categories-list {
  /* border: 1px solid blue; */
  margin: 0;
  padding: 0;
}

.music-category {
  display: inline-block;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #8bbeb9;
  width: 200px;
  text-align: center;
}

.track {
  border: 1px solid #8bbeb9;
  padding: 10px;
  margin: 0px 10px 10px 10px;
}
